@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
    overflow: hidden;
    }

body{
    font-family: arial, sans-serif !important;
    font-size: 13px;
}
/*navbar*/

.nav-div{
    line-height: 28px;
    align-items: center;
}

.nav-left{
    position: absolute;
    align-items: center;
    margin: 7px 0 0 10px;
}

.nav-right{
    position: relative;
    display: flex;
    flex-basis: auto;
    float: right;
    justify-content: flex-end;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    text-align: right;
    margin: 7px 0 0 0;
}

.nav-element{
    display: inline-block;
    align-items: center;
    height: 30px;
    opacity: 0.75;
    padding-left: 15px;
}

.nav-element:hover{
    text-decoration: underline;
    cursor: pointer;
}

.square{
    background-image: url(https://image.flaticon.com/icons/svg/566/566001.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
    opacity: 0.60;
    margin-left: 15px;
    height: 30px;
    width: 30px;
}

.square:hover{
    cursor: pointer;
}

.sign-in-bx{
    float: left;
    display: inline-flex;
    background-color: rgb(66, 133, 244);
    height: 30px;
    width: 69.34px;
    border-bottom-color: rgb(66, 133, 244);
    border-bottom-style: solid;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-width: 1px;
    border-left-style: solid;
    border-left-color: rgb(66, 133, 244);
    border-left-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(66, 133, 244);
    border-right-width: 1px; 
    border-top-color: rgb(66, 133, 244);
    border-top-style: solid;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top-width: 1px;
    margin-left: 15px;
    font-weight: 700;
}

.sign-in-txt{
    display: inline-block;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 28px;
    color: rgb(255,255,255);
    font-weight: 700;
    font-size: 13px;
    font-family: arial, sans-serif;
}

/*end navbar*/

/*logo*/

.logo{
    display: block;
    height: 432px;
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 108px;
}

.logo-container{
    height: 233px;
    margin-top: 47px;
    text-align: center;
    display: block;
}

/*end logo*/

/*search bar*/

.search-bar{
    align-items: center;
    display: flex;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
    width: 582px;
}

.search-bar:hover{
    box-shadow: 0 1px 6px 0px rgba(32,33,36,0.28);
}

.loupe{
    background-image: url(https://image.flaticon.com/icons/svg/565/565590.svg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.40;
    display: flex;
    padding-right: 35px;
    line-height: 24px;
    height: 15px;
    width: 15px;
}

.search-in-box{
    display: table;
    width: 100%;

}

.search-input{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: 0,0,0,.87;
    word-wrap: break-word;
    outline: none;
    display: table-cell;
    font-size: 16px;
    font: arial, sans-serif;
    line-height: 34px;
    height: 34px;
    width: 100%;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    cursor: text;
}

.mic{
    background-image: url(https://image.flaticon.com/icons/svg/786/786459.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    float: right;
    line-height: 24px;
    height: 24px;
    width: 24px;
    padding-right: 35px;
}

/*end search bar*/

/*bottom*/
.botm-cont1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    padding-top: 18px;
    margin: 0 auto;
}

.botm-buttons{
    display: block;
    float: left;
    background-color: rgb(242, 242, 242);
    border-color: rgb(242, 242, 242);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    color: rgb(95, 99, 104);
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 14px;
    height: 36px;
    line-height: 27px;
    padding: 0 16px 0 16px;
    margin: 11px 4px 11px 4px;
    min-width: 54px;
    box-sizing: border-box;
}

/*end bottom*/