@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
    overflow: hidden;
    }

body{
    font-family: arial, sans-serif !important;
    font-size: 13px;
}

.nav-div{
    line-height: 28px;
}

.nav-left{
    flex-basis: auto;
    float: left;
    margin: 15px 0 0 10px;
    display: inline-flex;
}

.nav-right{
    display: inline-flex;
    float: right;
    margin: 15px 30px 0 0;
}

.nav-element{
    display: inline-block;
    opacity: 0.75;
    padding-left: 15px;
    text-decoration: none;
}

.square{
    display: inline-flex;
    opacity: 0.55;
    margin-left: 15px;
    height: 30px;
    width: 30px;
    background-color: black;
}

.sign-in-bx{
    float: left;
    display: inline-flex;
    background-color: rgb(66, 133, 244);
    height: 30px;
    width: 69.34px;
    border-bottom-color: rgb(66, 133, 244);
    border-bottom-style: solid;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-width: 1px;
    border-left-style: solid;
    border-left-color: rgb(66, 133, 244);
    border-left-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(66, 133, 244);
    border-right-width: 1px; 
    border-top-color: rgb(66, 133, 244);
    border-top-style: solid;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top-width: 1px;
    margin-left: 15px;
    margin-right: 15px;
}

.sign-in-txt{
    display: inline-block;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 28px;
    color: rgb(255,255,255);
    font-weight: 700;
    font-size: 13px;
    font-family: arial, sans-serif;
}

.logo{
    display: block;
    height: 432px;
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 108px;
}

.logo-container{
    height: 233px;
    margin-top: 47px;
    text-align: center;
    display: block;
}
