@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
    overflow: hidden;
    }

body{
    font-family: arial, sans-serif !important;
    font-size: 13px;
}

.nav-div{
    line-height: 28px;
    align-items: center;
}

.nav-left{
    position: absolute;
    align-items: center;
    margin: 7px 0 0 10px;
}

.nav-right{
    position: relative;
    display: flex;
    flex-basis: auto;
    float: right;
    justify-content: flex-end;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    text-align: right;
    margin: 7px 0 0 0;
}

.nav-element{
    display: inline-block;
    align-items: center;
    height: 30px;
    opacity: 0.75;
    padding-left: 15px;
}

.nav-element:hover{
    text-decoration: underline;
    cursor: pointer;
}

.square{
    background-image: url(https://image.flaticon.com/icons/svg/566/566001.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
    opacity: 0.60;
    margin-left: 15px;
    height: 30px;
    width: 30px;
}

.square:hover{
    cursor: pointer;
}

.sign-in-bx{
    float: left;
    display: inline-flex;
    background-color: rgb(66, 133, 244);
    height: 30px;
    width: 69.34px;
    border-bottom-color: rgb(66, 133, 244);
    border-bottom-style: solid;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-width: 1px;
    border-left-style: solid;
    border-left-color: rgb(66, 133, 244);
    border-left-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(66, 133, 244);
    border-right-width: 1px; 
    border-top-color: rgb(66, 133, 244);
    border-top-style: solid;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top-width: 1px;
    margin-left: 15px;
    font-weight: 700;
}

.sign-in-txt{
    display: inline-block;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 28px;
    color: rgb(255,255,255);
    font-weight: 700;
    font-size: 13px;
    font-family: arial, sans-serif;
}

.logo{
    display: block;
    height: 432px;
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 108px;
}

.logo-container{
    height: 233px;
    margin-top: 47px;
    text-align: center;
    display: block;
}
