@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
    overflow: auto;
    }

body{
    font-family: arial, sans-serif !important;
    font-size: 13px;
    margin: 0 !important;
    padding: 0 !important;
}

.nav-left{
    flex-basis: auto;
    float: left;
    margin: 7px 0 0 10px;
    display: block;
}

.nav-right{
    flex-basis: auto;
    float: right;
    margin: 7px 0 0 10px;
    display: block;
}

.nav-element{
    display: inline-block;
    opacity: 0.75;
    padding-left: 15px;
    text-decoration: none;
}

.square{
    display: inline-block;
    opacity: 0.75;
    padding-left: 15px;
    height: 30px;
    width: 30px;
    background-color: #000;
}

.logo{
    display: block;
    height: 432px;
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 108px;
}

.logo-container{
    height: 233px;
    margin-top: 47px;
    text-align: center;
    display: block;
}
